



.wrapper {
    background-color: black;
    height: 4400px;
    width: 1000px;
}

.long-text {
    color: white;
}


.char1 {
    color: red;
}

.char2 {
    color: blue;
}

.char3 {
    color: red;
}
.char4 {
    color: white;
}
.char5 {
    color: red;
}
.char6 {
    color: blue;
}
.char7 {
    color: white;
}

.char8 {
    color: red;
}

.char9 {
    color: blue;
}

.char10 {
    color: red;
}
.char11 {
    color: white;
}
.char12 {
    color: red;
}
.char13 {
    color: blue;
}
.char14 {
    color: white;
}


.char15 {
    color: red;
}

.char16 {
    color: blue;
}

.char17 {
    color: red;
}
.char18 {
    color: white;
}
.char19 {
    color: red;
}
.char20 {
    color: blue;
}
.char21 {
    color: white;
}

.char22 {
    color: red;
}
.char23 {
    color: blue;
}
.char24 {
    color: white;
}
